body{
    background-color: #d5d5d575;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 20px;
}


.banner{
    padding: 32px;
    display: flex;
    flex-direction: row;
    gap: 12;
    background-color: #C6E4D6; 
    
    border-radius: 10px;
    
}
.vision{
    
    background-color: antiquewhite;
}
.components{
    display: flex;
    gap: 12px;
    
}
.digital{
    background-color: aqua;
    border-radius: 10px;
}
.green{
background-color: aquamarine;
border-radius: 10px;
}
.modern{
    background-color: burlywood;
    border-radius: 10px;
}


.visionCard{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12;
}
.btn{
    width: 100px; height: 19px; border-radius: 5px;
}
.sattellite{
    display: flex;
    background-color: white;
    border-radius: 10px;
padding: 10px;
gap: 20px;
}
.recent{
   display: flex;
   flex-direction: column;
   gap: 20px;
    
}

#news1{

    flex-direction: row;
}
#news2{

    flex-direction: row-reverse;
}
.amount{
    display: flex;
    gap: 40px;
   
    }
.donate{
    background-color: white; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    
   
    
}
.quote{
    background-color: wheat;
    border-radius: 15px;
    gap: 10px;
    padding: 20px;

}
.newsletter{
    background-color: #C6E4D6;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

}