body{
    background-color: #d5d5d575;
    padding-left: 140px;
    padding-right: 140px;
}


.banner{
    background-color: #C6E4D6; 
    display:flex
}
.vision{
    
    background-color: antiquewhite;
}
.components{
    display: flex;
    gap: 12px;
    
}
.digital{
    background-color: aqua;
    border-radius: 10px;
}
.green{
background-color: aquamarine;
border-radius: 10px;
}
.modern{
    background-color: burlywood;
    border-radius: 10px;
}


.visionCard{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12;
}
.btn{
    width: 100px; height: 19px; border-radius: 5px;
}
.sattellite{
    display: flex;
    background-color: white;
    border-radius: 10px;
padding: 10px;
gap: 20px;
}
.recent{
   display: flex;
   flex-direction: column;
   gap: 20px;
    
}

#news1{

    flex-direction: row;
}
#news2{

    flex-direction: row-reverse;
}